flows (1).json
[{"id":"8deb422.e493fc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"79c67370.6246ec","type":"function","z":"8deb422.e493fc","name":"pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\nvar apikey=\"Lz6GDTBZyoOBKI6TJkIFm2bRCeFJ9FiJVqboUDIN_Si4\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["9b40f7a1.cc9c68"]]},{"id":"9b40f7a1.cc9c68","type":"http request","z":"8deb422.e493fc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":60,"wires":[["b3794e5c.e3192"]]},{"id":"b3794e5c.e3192","type":"function","z":"8deb422.e493fc","name":"send to endpoint","func":"var token=msg.payload.access_token;\nvar instance_id=\"b730d022-5d9e-49f6-836c-966a61bebc5c\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nvar a = global.get(\"a\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\nmsg.payload = \n{   \"input_data\":[{\"fields\": [\"Year\",\"Adult Mortality\",\"infant deaths\",\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\"Measles \",\" BMI \",\"under-five deaths \",\"Polio\",\"Total expenditure\",\"Diphtheria \",\" HIV/AIDS\",\"GDP\",\"Population\",\" thinness  1-19 years\",\" thinness 5-9 years\",\"Income composition of resources\",\"Schooling\"],\n    \"values\":[[a,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]\n    }\n    ]\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["9802f04f.adf4"]]},{"id":"9802f04f.adf4","type":"http request","z":"8deb422.e493fc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/56b9ff4f-b3a4-4a71-ae05-e21b3d854e7d/predictions","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":140,"wires":[["e17ddb59.f95588","2d9ac2eb.3c9a7e"]]},{"id":"e17ddb59.f95588","type":"debug","z":"8deb422.e493fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":141,"wires":[]},{"id":"1cbf1a43.8644e6","type":"ui_form","z":"8deb422.e493fc","name":"","label":"","group":"868695f2.c8bf98","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"percentage exp","value":"f","type":"number","required":true,"rows":null},{"label":"Hepaitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles","value":"h","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":true,"rows":null},{"label":"under 5","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"number","required":true,"rows":null},{"label":"total exp","value":"l","type":"number","required":true,"rows":null},{"label":"diphtheria","value":"m","type":"number","required":true,"rows":null},{"label":"hiv/aids","value":"n","type":"number","required":true,"rows":null},{"label":"gdp","value":"o","type":"number","required":true,"rows":null},{"label":"population","value":"p","type":"number","required":true,"rows":null},{"label":"thinness 1","value":"q","type":"number","required":true,"rows":null},{"label":"thinness 2","value":"r","type":"number","required":true,"rows":null},{"label":"income comp","value":"s","type":"number","required":true,"rows":null},{"label":"schooling","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":80,"wires":[["79c67370.6246ec"]]},{"id":"5506ab17.4bb4a4","type":"debug","z":"8deb422.e493fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":240,"wires":[]},{"id":"e7868de5.a644e","type":"ui_text","z":"8deb422.e493fc","group":"868695f2.c8bf98","order":1,"width":0,"height":0,"name":"","label":"Prediction:","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":340,"wires":[]},{"id":"2d9ac2eb.3c9a7e","type":"function","z":"8deb422.e493fc","name":"getfrom endpoint","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":280,"wires":[["5506ab17.4bb4a4","e7868de5.a644e"]]},{"id":"c0336708.5f0be8","type":"ui_switch","z":"8deb422.e493fc","name":"","label":"Developed?","tooltip":"","group":"868695f2.c8bf98","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":300,"wires":[["de836164.92f77"]]},{"id":"de836164.92f77","type":"function","z":"8deb422.e493fc","name":"","func":"if(msg.payload===Developed){\n    msg.payload=1;\n}\nelse\n    msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":340,"wires":[["93a1471a.8efae8","79c67370.6246ec"]]},{"id":"93a1471a.8efae8","type":"ui_text","z":"8deb422.e493fc","group":"6a91fe43.58c9e","order":4,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":360,"wires":[]},{"id":"868695f2.c8bf98","type":"ui_group","z":"","name":"Default","tab":"5b4a0f3.bb8ccf","order":1,"disp":true,"width":"6","collapse":false},{"id":"6a91fe43.58c9e","type":"ui_group","z":"","name":"Default","tab":"2a0572d1.696b5e","order":1,"disp":true,"width":"6","collapse":false},{"id":"5b4a0f3.bb8ccf","type":"ui_tab","z":"8deb422.e493fc","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"2a0572d1.696b5e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]